<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnectionString"
			 connectionString="Server=DESKTOP-50HSVBG\SQLEXPRESS;Database=ADMIN_1;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
